@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
	background-image: url("./winter-in-harry-potters.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}



.counter-quiz{
    font-size: 0.8em;
    padding-left: 80%;
   
}

.quiz-container {
	color: black;
    background:rgba(255,255,255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
	margin: 100px;

}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {

    background:rgba(255,255,255, 0.7);
    border: none;
    color: black;
    cursor: pointer; 
    font-family: inherit;
    font-size: 1.1rem;
    width: 50%;
    padding: 1rem;
}

.button-box {
	display: flex; 
	justify-content: flex-end;

	
}

button:hover {
    background-color: #d8d8d8;
}

button:focus {
    background-color: #d8d8d8;
    outline: none;
}

.alert-text {
	color: red;
	display: flex; 
	justify-content: center;
}

a {
   
    text-decoration: none;
    color: black;
}
